@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/node_modules/flowbite-vue/dist/index.css';

input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
  }
  
  .simple-keyboard {
    max-width: 850px;
  }
  